.container{
    width: 700px;
    height: 500px;
    margin: 40px auto;
"boarder":2px solid black;

.item{
    float:left;
}
.item1{
    width: 150px;
    height: 150px;
    background-color: yellow;
    position: relative; /*(change from current position)*/
    /* position: absolute; (change from parent position) */
    top: 150px;
    left:30px;

}
.item2{
    width: 150px;
    height: 150px;
    background-color: rgb(0,255,17)

}
.item3{
    width: 150px;
    height: 150px;
    background-color: rgb(41, 41, 99) 
}
.paragraph{
    background-color: aqua;
    position: sticky;
    top: 15px
    left:20px
}
nav{
    width: 100px;
    height: 70px;
    box-shadow: 2px,5px,2px black;
    display: flex;
}
.nav-logo{
    width: 30%;
    background: rgb(38, 210, 210);
    display: flex;
    align-items:center;
    justify-content:center;
}
.nav-logo p{
color:blue;
    font-size:25px;
}
.nav-logo p span{
color:brown
}
ul{
    width: 50%;
    background-color: aquamarine;
    display: flex;
    justify-content: space-around;
    align-items:center;
    list-style: none;
    font-size: 20px;
    font-weight: 600;
}
ul li :hover{
    
}
.nav-button{
    display:flex;
    justify-content: center;
    align-items: center;
}
.nav-button button{
    padding: 10px 20px;
    background-color: blueviolet;
    border: none;
    border-radius:5px;
    color:white;
}
.nav-button :hover{
    background-color: blue;
    cursor:pointer;

}





